.content {
    background: #17202A;
    height: auto;
}

.box1 {
    height: auto;
    background: #fff;
    padding-top: 1.5%;
    padding-bottom: .3%;
    margin: 3% 5% 0 5%;
    border-radius: 30px;
}

.cartTitle {
    color: #fff;
    text-align: center;
    padding-top: 5%;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: underline rgba(255, 255, 0, 0.76);
}

.cartName {
    color: rgba(255, 255, 0, 0.76);
    background-color: #17243344;
    padding-top: 1%;
    padding-bottom: .2%;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 20px;
    margin-right: 40%;
    margin-left: 1%;
}

.cartImg img {
    width: 180px;
    margin-left: 20%;
    margin-top: 2%;
    padding-bottom: 1%;
}

.cartBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cartDetail {
    margin-right: 15%;
    margin-left: 10%;
    text-align: justify;
}

.comprar {
    background-color: #172433;
    color: rgb(255, 230, 0);
    border-color: rgb(255, 230, 0);
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 25px;
    margin-top: 3%;
    margin-left: 40%;
    margin-bottom: 6%;
    text-transform: uppercase;
}

.comprar:hover {
    border-color: rgba(255, 0, 255, 0.747);
    color: #ff18c5c0;
}


.totalCompra {
    text-transform: uppercase;
    padding-bottom: 1%;
    font-size: 25px;
    color: #fff;
    padding-left: 56%;
    padding-top: 1%;
}

.seguir-compra {
    margin-left: 55%;
    margin-top: -1%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.seguir-compra button {
    background-color: #172433;
    color: rgb(255, 230, 0);
    border-color: rgb(255, 230, 0);
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 7px;
    margin-right: 1%;
    text-transform: uppercase;
}

.seguir-compra button:hover {
    border-color: rgba(255, 0, 255, 0.747);
    color: rgba(255, 0, 255, 0.747);
}

.cartPrice {
    background-color: rgba(255, 0, 255, 0.274);
    padding-left: 22%;
    border-radius: 20px;
    margin-bottom: 3%;
    margin-right: 40%;
    margin-left: 1%;
}

.cartPrice p {
    font-size: 24px;
    color: inherit;
    display: inline-block;
    margin: 0 8px;
}

.cartPrice .vaciar {
    font-size: 24px;
    display: inline-block;
    padding-top: .3%;
    padding-bottom: .3%;
}

.vaciar {
    margin-left: 15%;
}

.vaciar:hover {
    color: #616161;
}

.cart-cargar {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

.btn-vaciarCompra {
    background-color: #172433;
    color: rgb(255, 230, 0);
    border-color: rgb(255, 230, 0);
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 7px;
    text-transform: uppercase;
}

.btn-vaciarCompra:hover {
    border-color: rgba(255, 0, 255, 0.747);
    color: rgba(255, 0, 255, 0.747);
}

@media screen and (max-width: 900px) {

    .comprar {
        margin-left: 40%;
    }

    .cartTitle {
        padding-top: 4%;
    }

    .cartPrice {
        padding-left: 37%;
        margin-right: .2%;
    }

    .cartName {
        margin-right: .2%;
        text-align: center;
    }

    .cartImg img {
        width: 180px;
        margin-left: 40%;
    }

    .totalBotones {
        background-color: #fff;
        border-radius: 20px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        padding-left: 20%;
        padding-bottom: 2%;
    }

    .totalCompra {
        padding-top: 3%;
        padding-bottom: 2%;
        font-size: 18px;
        margin-left: -18%;
    }

    .seguir-compra {
        margin-left: 30%;
        padding-bottom: 2%;
    }

    .cart-cargar {
        font-size: 16px;
        margin-top: 2%;
    }
}

@media screen and (max-width: 600px) {

    .cartImg img {
        margin-left: 35%;
    }

    .totalCompra {
        font-size: 18px;
        margin-left: -22%;
    }

    .seguir-compra {
        margin-left: 15%;
        padding-bottom: 4%;
    }

    .comprar {
        margin-left: 35%;
    }

    .cartTitle {
        margin-top: -3%;
        margin-bottom: 9%;
    }
}

@media screen and (max-width: 420px) {

    .cartImg img {
        margin-left: 20%;
    }

    .totalCompra {
        font-size: 16px;
        margin-left: -40%;
    }

    .seguir-compra {
        font-size: 12px;
        margin-left: 8%;
        padding-bottom: 4%;
    }

    .comprar {
        margin-left: 30%;
        font-size: 12px;
    }

    .cart-cargar {
        font-size: 14px;
    }

    .cartTitle {
        padding-top: 5%;

    }
}