.content {
    background: #17202A;
    height: 100vh;
}

.box1 {
    background: #D0D3D4;
    padding-top: 1%;
    margin: 3% 5% 0 5%;
}

.cartTitle {
    color: #fff;
    text-align: center;
    padding-top: 5%;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: underline rgba(255, 255, 0, 0.76);
}

.title {
    padding-top: 6%;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.cartName {
    padding-top: 5%;
    font-size: 20px;
    padding-left: 10%;
    text-transform: capitalize;
}


.cartImg img {
    width: 250px;
    padding-left: 9%;
    padding-bottom: 20px;
}

.cartBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cartDetail {
    margin-right: 15%;
    margin-left: 10%;
    text-align: justify;
}

.cartBox .cartPrice {
    font-size: 18px;
    padding-right: 30%;
    margin-left: 10%;
}

.cartPrice {
    width: 30px;
}

.comprar {
    background-color: #172433;
    color: rgb(255, 230, 0);
    border-color: rgb(255, 230, 0);
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 25px;
    margin-top: 5%;
    margin-left: 40%;
    margin-bottom: 6%;
    text-transform: uppercase;
}

.comprar:hover {
    border-color: rgba(255, 0, 255, 0.747);
    color: #ff18c5c0;
}

.seguir-compra {
    background-color: #172433;
    color: rgb(255, 230, 0);
    border-color: rgb(255, 230, 0);
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 5px;
    margin-left: 9%;
    margin-bottom: 4%;
    font-size: 12px;
    text-transform: uppercase;
}

.seguir-compra:hover {
    border-color: rgba(255, 0, 255, 0.747);
    color: #172433;
    background-color: transparent;
}

.vaciar {
    font-size: 25px;
    padding-left: 25%;
    margin-top: -7%;
}

.vaciar :hover {

    color: rgba(255, 0, 255, 0.747);
}