.details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 90px;
}

.big-img {
    width: 300px;
    margin: 25px;
    display: block;
}

.box .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}

.contenido {
    line-height: 1.5;
    margin: 15px 0;
    margin-right: 50%;
    text-align: justify;
}

.box .row h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
}

.row span {
    font-size: 30px;
    letter-spacing: 2px;
    color: rgba(255, 0, 255, 0.747);
}


.regresar {
    color: #000;
    font-size: 40px;
    padding-left: 7%;
}



.loading {
    margin-left: 50%;
    margin-top: 10%;
}

@media screen and (max-width: 900px) {

    .box {
        margin-left: 15%;
    }
}