.details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 90px;
}

.big-img {
    width: 300px;
    margin: 25px;
    display: block;
}

.box .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}

.contenido {
    line-height: 1.5;
    margin: 15px 0;
    margin-right: 50%;
    text-align: justify;
}

.box .row h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
}

.row span {
    font-size: 30px;
    letter-spacing: 2px;
    color: rgba(255, 0, 255, 0.747);
}

.agregar-cart {
    background-color: #172433;
    color: rgb(255, 230, 0);
    border-color: rgb(255, 230, 0);
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 25px;
    margin-left: 7%;
    margin-top: 4%;
    margin-bottom: 6%;
    text-transform: capitalize;
}

.seguir-cart {
    background-color: #172433;
    color: rgb(255, 230, 0);
    border-color: rgb(255, 230, 0);
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 25px;
    margin-left: 3%;
    margin-top: 4%;
    margin-bottom: 6%;
    text-transform: capitalize;
}

.seguir-cart:hover {
    border-color: rgba(255, 0, 255, 0.747);
    color: #172433;
    background-color: transparent;
}


.regresar {
    color: #000;
    font-size: 40px;
    padding-left: 7%;
}


.agregar-cart:hover {
    border-color: rgba(255, 0, 255, 0.747);
    color: #172433;
    background-color: transparent;
}

.loading {
    margin-left: 50%;
    margin-top: 10%;
}

@media screen and (max-width: 900px) {

    .agregar-cart {
        margin-left: 20%;
        margin-top: 1%;
    }

    .box {
        margin-left: 15%;
    }
}