.box3 {
    background: #17202A;
    height: auto;
}

.titulo4 {
    color: #fff;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 1.5%;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: underline rgba(255, 255, 0, 0.76);
}

.product-content {
    background: #fff;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 5%;
}

.recuadro {
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
}

span {
    text-transform: capitalize;
    font-size: 16px;
}

.btn-vaciar {
    background-color: #172433;
    color: rgb(255, 230, 0);
    border-color: rgb(255, 230, 0);
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 7px;
    margin-left: 10%;
    text-transform: uppercase;
}

.btn-vaciar2 {
    background-color: #172433;
    color: rgb(255, 230, 0);
    border-color: rgb(255, 230, 0);
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 7px;
    margin-left: 2%;
    text-transform: uppercase;
}

.btn-vaciar:hover {
    border-color: rgba(255, 0, 255, 0.747);
    color: rgba(255, 0, 255, 0.747);
}

.btn-vaciar2:hover {
    border-color: rgba(255, 0, 255, 0.747);
    color: rgba(255, 0, 255, 0.747);
}

.cargado {
    background-color: #D0D3D4;
    padding: 2% 4% 2% 5%;
    border-radius: 8px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 3% 10% 4% 10%;
}

.recuadro form .user-detail {
    display: flex;
    flex-wrap: wrap;
}

form .user-detail .input-box {
    width: calc(100% / 2 - 20px);
}

.user-detail .input-box input {
    height: 45px;
    width: 100%;
    margin-bottom: 5%;
    border-radius: 8px;
}

.volver {
    background-color: #172433;
    color: rgb(255, 230, 0);
    border-color: rgb(255, 230, 0);
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 7px;
    margin-left: 10%;
    text-transform: uppercase;
}

.volver:hover {
    border-color: rgba(255, 0, 255, 0.747);
    color: rgba(255, 0, 255, 0.747);
}

.sub-titulo {
    text-transform: uppercase;
    font-size: 20px;
}

@media screen and (max-width: 900px) {

    .cargado {
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 10%;
        margin: 4% -5% 4% -5%;
    }

    .btn-vaciar {
        margin-left: 20%;
    }

    .btn-vaciar2 {
        margin-left: 20%;
        margin-top: 1%;
    }

    .volver {
        margin-bottom: 2%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 600px) {
    .cargado {
        font-size: 12px;
    }

    .btn-vaciar {
        margin-left: 12%;
    }

    .btn-vaciar2 {
        margin-left: 12%;
    }

    .user-detail .input-box input {
        margin-left: -10%;
        height: 50px;
        width: 120%;
        font-size: 16px;
    }

    .sub-titulo {
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {

    .titulo4 {
        font-size: 18px;
    }

    .cargado {
        font-size: 10px;
        margin-left: -14%;
        margin-right: -14%;
    }

    .btn-vaciar {
        margin-left: 8%;
        font-size: 11px;
    }

    .btn-vaciar2 {
        margin-left: 8%;
        font-size: 11px;
    }

    .user-detail .input-box input {
        margin-left: -10%;
        height: 40px;
        width: 120%;
        font-size: 14px;
    }

    .sub-titulo {
        font-size: 12px;
    }

    .volver {
        font-size: 12px;
        margin-left: 7%;
    }

    .product-content {
        padding-bottom: 13%;
    }
}