.boton-count {
    border-radius: 8px;
    cursor: pointer;
    width: 40px;
    margin-left: 20px;
    border-color: rgb(255, 230, 0);
    color: rgb(255, 255, 11);
    background-color: #172433;
}

.boton-count:hover {
    border-color: rgba(255, 0, 255, 0.747);
    background-color: #172433;
    color: rgba(255, 0, 255, 0.747);
}

.agregar {
    text-transform: capitalize;
    padding-top: 25%;
    padding-left: 3%;
    font-size: 20px;
}

.boton-carrito {
    margin-left: 50%;
    margin-top: -60%;
}


.agregar-cart {
    background-color: #172433;
    color: rgb(255, 230, 0);
    border-color: rgb(255, 230, 0);
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 25px;
    margin-left: 30%;
    margin-top: 50%;
    margin-bottom: 6%;
    text-transform: capitalize;
}

.seguir-cart {
    background-color: #172433;
    color: rgb(255, 230, 0);
    border-color: rgb(255, 230, 0);
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 25px;
    margin-left: 25%;
    margin-top: 50%;
    margin-bottom: 6%;
    text-transform: capitalize;
}

.seguir-cart:hover {
    border-color: rgba(255, 0, 255, 0.747);
    background-color: #172433;
    color: rgba(255, 0, 255, 0.747);
}


.agregar-cart:hover {
    border-color: rgba(255, 0, 255, 0.747);
    background-color: #172433;
    color: rgba(255, 0, 255, 0.747);
}

.agregar-cart1 {
    background-color: #172433;
    color: rgb(255, 230, 0);
    border-color: rgb(255, 230, 0);
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 25px;
    margin-left: 2%;
    margin-top: 4%;
    margin-bottom: 6%;
    text-transform: capitalize;
}

.agregar-cart1:hover {
    border-color: rgba(255, 0, 255, 0.747);
    background-color: #172433;
    color: rgba(255, 0, 255, 0.747);
}

@media screen and (max-width: 900px) {

    .boton-carrito {
        margin-left: 60%;
        margin-top: 1%;
    }

    .agregar-cart {
        margin-left: 20%;
        margin-top: 1%;
    }

    .agregar {
        padding-left: 8%;
    }

    .boton-carrito {
        margin-top: -5%;
        padding-bottom: 3%;
    }

    .agregar-cart {
        margin-bottom: 10%;
    }

    .seguir-cart {
        margin-top: 1%;
        margin-left: 10%;
    }

}