.boton-count {
    border-radius: 8px;
    cursor: pointer;
    width: 30px;
    margin-left: 30px;
    margin-bottom: 8px;
    color: rgb(255, 255, 11);
    border-color: rgba(255, 0, 255, 0.747);
    background-color: #172433;
}

.boton-count:hover {
    background-color: transparent;
    color: #000;
}

.agregar {
    text-transform: capitalize;
    padding-left: 9%;
    font-size: 20px;

}

.boton-carrito {
    margin-left: 40%;
    margin-top: -30%;
}

@media screen and (max-width: 900px) {

    .boton-carrito {
        margin-left: 60%;
        margin-top: 1%;
    }
}