.subTitulo p {
    color: #fff;
    text-transform: uppercase;
    font-size: 80%;
    text-decoration: underline rgba(255, 255, 0, 0.76);
    text-align: center;
    padding-top: 7%;
}

.propa {
    display: flex;
}

.propaUno {
    height: 40%;
    padding: 3rem;
    margin: 3rem;
    padding-left: 6%;
    margin-right: 8%;
    overflow: hidden;
}

.propaUno:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: 1s;
}

@media screen and (max-width: 900px) {

    .subTitulo p {
        margin-top: 9%;
        font-size: 90%;
    }

    .propa {
        display: flex;
        flex-direction: column;
    }

    .propaUno {
        width: 65%;
        margin-left: 18%;
        padding-bottom: 1%;
    }

    .propaUno:hover {
        -webkit-transform: none;
        transform: none;
    }
}

@media screen and (max-width: 600px) {

    .propaUno {
        width: 85%;
        margin-left: 10%;
        margin-top: -4%;
    }

    .subTitulo p {
        font-size: 70%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 420px) {

    .subTitulo p {
        padding-top: 4%;
        font-size: 60%;
    }

    .propaUno {
        width: 80%;
        margin-left: 14%;
        margin-top: -6%;
    }
}