.slider {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 8px;
    width: 1200px;
    height: 500px;
}

.derecha {
    position: absolute;
    top: 55%;
    right: 4%;
    font-size: 4rem;
    color: #17202A;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.derecha:hover {
    color: #fff;
}

.izquierda {
    position: absolute;
    top: 55%;
    left: 4%;
    font-size: 4rem;
    color: #17202A;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.izquierda:hover {
    color: #fff;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
}

@media screen and (max-width: 900px) {

    .image {
        border-radius: 30px;
        width: 100%;
        height: 100%;
        padding-left: 2%;
        padding-right: 2%;
    }


    .derecha {
        font-size: 2.5rem;
    }

    .derecha:hover {
        color: #17202A;
    }

    .izquierda {
        font-size: 2.5rem;
    }

    .izquierda:hover {
        color: #17202A;
    }


}