.slider {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 10px;
    width: 1200px;
    height: 500px;
}

.derecha {
    position: absolute;
    top: 55%;
    right: 4%;
    font-size: 4rem;
    color: #17202A;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.derecha:hover {
    color: #fff;
}

.izquierda {
    position: absolute;
    top: 55%;
    left: 4%;
    font-size: 4rem;
    color: #17202A;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.izquierda:hover {
    color: #fff;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
}

@media screen and (max-width: 1200px) {

    .image {
        margin-top: 3%;
        padding-right: 2%;
        padding-left: 2%;
        border-radius: 3%;
    }

    .derecha {
        font-size: 3.5rem;
        margin-right: 3%;

    }

    .derecha:hover {
        color: #17202A;
    }

    .izquierda {
        font-size: 3.5rem;
        margin-right: 3%;
    }
}


@media screen and (max-width: 900px) {

    .image {
        padding-top: 15%;
        width: 130%;
        height: auto;
        margin-left: -15%;
    }

    .derecha {
        margin-top: 6%;
        font-size: 3.5rem;
        margin-right: 5%;
    }

    .derecha:hover {
        color: #fff;
    }

    .izquierda {
        margin-top: 6%;
        font-size: 3.5rem;
        margin-left: 5%;
    }

    .izquierda:hover {
        color: #fff;
    }
}

@media screen and (max-width: 600px) {

    .image {
        width: 100%;
        height: auto;
        margin-left: .5%;
    }

    .slider {
        margin-top: -13%;
        margin-bottom: -5%;
    }

    .derecha {
        margin-top: -3%;
        font-size: 3rem;
        margin-right: 1%;
    }

    .izquierda {
        margin-top: -3%;
        font-size: 3rem;
        margin-left: 1%;
    }
}

@media screen and (max-width: 420px) {

    .slider {
        margin-top: -35%;
        margin-bottom: -55%;
    }

    .image {
        margin-top: -20%;
    }

    .derecha {
        font-size: 2.5rem;
        top: 33%;
    }

    .izquierda {
        font-size: 2.5rem;
        top: 32%;
    }
}