.slider {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 8px;
    width: 1200px;
    height: 500px;
}

.derecha {
    position: absolute;
    top: 55%;
    right: 4%;
    font-size: 4rem;
    color: #17202A;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.derecha:hover {
    color: #fff;
}

.izquierda {
    position: absolute;
    top: 55%;
    left: 4%;
    font-size: 4rem;
    color: #17202A;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.izquierda:hover {
    color: #fff;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
}

@media screen and (max-width: 1200px) {

    .image {
        width: 130%;
        height: 100%;
        padding-top: 3%;
        margin-left: -10%;
        margin-right: -10%;
    }

    .derecha {
        font-size: 2.5rem;
        margin-right: 10%;

    }

    .derecha:hover {
        color: #17202A;
    }

    .izquierda {
        font-size: 2.5rem;
        margin-left: 15%;
    }

    .izquierda:hover {
        color: #17202A;
    }

}

@media screen and (max-width: 700px) {

    .image {
        border-radius: 30px;
        width: 92%;
        height: 92%;
        margin-left: 4%;
    }

    .derecha {
        font-size: 2.5rem;
        margin-right: -.5%;

    }

    .derecha:hover {
        color: #17202A;
    }

    .izquierda {
        font-size: 2.5rem;
        margin-left: -.5%;
    }

    .izquierda:hover {
        color: #17202A;
    }


}